<title>Visualise igbinary serialized values for Memcache/Memcached</title>

<meta http-equiv="content-language" content="en" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/navbar.js"></script>
